@media only screen and (min-width: 767px) {
    #top-menu {
        display: block;
    }

    #mobile-menu {
        display: none;
    }

    #main-content {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 767px) {
    #top-menu {
        display: none;
    }
    
    #navbar {
        min-height: 65px !important;
    }
    
    #mobile-menu {
        display: block;
    }

    #main-content {
        margin-top: 65px;
    }
}
